.title-box {
    padding: 3%;
    text-align: center;
    background-color: grey;
}

.title-text {
    font-size: 60px;
    color: white;
}

.content-box {
    height: 100%;
    padding: 5%;
}

.paragraph-box {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin: auto;
}